@{
    ViewBag.Title = "SuperMarket_On";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css" />

<link href="~/Areas/Company/Content/css/index.css" rel="stylesheet" />
<script src="~/Areas/Company/Content/js/PedidosClientes.js"></script>

<div class="row">
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Cadastro - Pedidos Clientes
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-1">
                        <button id="btn-voltar" class="btn btn-primary" title="Voltar"><i class="fas fa-arrow-left"></i> Voltar</button>
                    </div>
                    <div class="col-md-1">
                        <button id="btn-gravar" class="btn btn-primary" title="Gravar"><i class="fa fa-save"></i> Gravar</button>
                    </div>
                    <div class="col-md-10">&nbsp;</div>
                </div>
            </div>
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <h4><b><font color="#3297E0">Dados Tipo:</font></b></h4>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-3"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-5"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-4"><font color="#3297E0">label campo:</font></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro cnpj" placeholder="" value="" />
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro" placeholder="" value="" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-2"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-3"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-3"><font color="#3297E0">label campo:</font></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro" placeholder="" value="" />
                            </div>
                            <div class="col-md-2">
                                <input type="tel" id="inCampo" data-required="1" size="10" class="form-control cadastro telefone" placeholder="" value="" />
                            </div>
                            <div class="col-md-3">
                                @*@Html.DropDownList("inListaDePaises", Model.ListagemPaises, new { @class = "form-control cadastro", @id = "inListaDePaises", style = "", @tabindex = "" })*@
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="inCampo" data-required="1" size="10" maxlength="9" class="form-control cadastro" placeholder="" value="" onClick="limparCampoCEP();" onkeypress="return MM_formtCep(event,this,'#####-###');" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-4"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-3"><font color="#3297E0">label campo:</font></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro" placeholder="" value="" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control" placeholder="" value="" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro" placeholder="" value="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-2"><font color="#3297E0">label campo:</font></div>
                            <div class="col-md-5">&nbsp;</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <input type="text" id="inCampo" data-required="1" size="10" class="form-control cadastro" placeholder="" value="" />
                            </div>
                            <div class="col-md-2">
                                @*@Html.DropDownList("inListaDeEstados", Model.ListagemEstados, new { @class = "form-control cadastro", @id = "inListaDeEstados", style = "", @tabindex = "" })*@
                            </div>
                            <div class="col-md-5">&nbsp;</div>
                        </div>
                    </div>
                    <!-- ================================================================================= -->
                </div>
            </form>
            <!-- END FORM-->

            <input type="hidden" id="inRecarregaGrid" value="0" />
        </div>
    </div>
    <!-- END VALIDATION STATES-->
</div>

@Html.Hidden("Url2", @Url.Action("Index", "PedidosClientes", new { area = "Company" }))
@Html.Hidden("Url3", @Url.Action("AlterarDados", "PedidosClientes", new { area = "Company" }))

