@{
    ViewBag.Title = "SuperMarket_On";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.js"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css" />

<link href="~/Areas/Company/Content/css/index.css" rel="stylesheet" />
<script src="~/Areas/Company/Content/js/LocalidadesAtuacaoEmpresa.js"></script>

<div class="row">
    <!-- BEGIN VALIDATION STATES-->
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Cadastro e Manutenção de Dados - Localidades Atuação Empresa Cliente
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-1">
                        <button id="btn-cadastrar" class="btn btn-primary" title="Cadastrar"><i class="far fa-file"></i> Cadastrar</button>
                    </div>
                    <div class="col-md-1">
                        <button id="btn-excluir" class="btn btn-danger" title="Excluir"><i class="far fa-trash-alt"></i> Excluir</button>
                    </div>
                    <div class="col-md-10">&nbsp;</div>
                </div>
            </div>
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8"><font color="#3297E0"><b>Empresa:</b></font></div>
                            <div class="col-md-4">&nbsp;</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <input type="text" name="name" id="inPesquisar" data-required="1" size="10" class="form-control" placeholder="Descrição..." />
                            </div>
                            <div class="col-md-4">
                                <button id="btn-pesquisar" class="btn blue" title="Pesquisar conforme dados selecionados"><i class="fas fa-search"></i> Pesquisar</button>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <!--<div class="form-group">-->
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <!--<div class="portlet-body flip-scroll col-md-12">
                    <table id="gridCentraisDeComprasDoSistema" class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th data-column-id="nomeCentralCompras" data-width="30%" data-formatter="link1">Central Compras</th>
                                <th data-column-id="ramoAtividadeCentralCompras" data-width="18%" data-formatter="link2">Ramo Atividade</th>
                                <th data-column-id="quantasEmpresas" data-width="9%" data-align="right" data-formatter="link3">Empresas</th>
                                <th data-column-id="cidadeDaCentralCompras" data-width="16%" data-formatter="link4">Cidade</th>
                                <th data-column-id="ufDaCentralCompras" data-width="5%" data-align="center" data-formatter="link5">UF</th>
                                <th data-column-id="statusCentralCompras" data-width="10%" data-align="center" data-formatter="status1">Status</th>
                                <th data-formatter="commands" data-align="center" data-width="12%">Participar</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>-->
                </div>
            </form>
            <!-- END FORM-->

            <input type="hidden" id="inRecarregaGrid" value="0" />
        </div>
    </div>
    <!-- END VALIDATION STATES-->
</div>